<!-- Wrap all page content here -->
<div id="wrap">

<!-- Fixed navbar -->
<%= render 'partial/header' %>

<section class="bg-1">
  <div class="col-sm-10 col-sm-offset-1 text-left"><div style="height:100%;padding:20px;background-color:rgba(15, 21, 14, 0.93)">
<h3>Human Characteristics: What Does it Mean to be Human?</h3>
<h4>Part of what it means to be human is how we became human. Over a long period of time, as early humans adapted to a changing world, they evolved certain characteristics that help define our species today.</h4>

<p>This section of our website focuses on several human characteristics that evolved over the past 6 million years. As you explore the scientific evidence for these characteristics, you will discover that these traits did not emerge all at once or in any one species. There were important milestones along the way. For example, early humans began walking upright before they began making tools. A rapid increase in brain size occurred before early humans began using symbols to communicate. And all of these traits emerged before humans began domesticating plants and animals.</p>
<h3>Human Characteristics: What Does it Mean to be Human?</h3>
<h3>Human Characteristics: What Does it Mean to be Human?</h3>
<h3>Human Characteristics: What Does it Mean to be Human?</h3>
<h3>Human Characteristics: What Does it Mean to be Human?</h3>
<h3>Human Characteristics: What Does it Mean to be Human?</h3>
<h3>Human Characteristics: What Does it Mean to be Human?</h3>
<h3>Human Characteristics: What Does it Mean to be Human?</h3>
<h3>Human Characteristics: What Does it Mean to be Human?</h3><h3>Human Characteristics: What Does it Mean to be Human?</h3>
<p>This section of our website focuses on several human characteristics that evolved over the past 6 million years. As you explore the scientific evidence for these characteristics, you will discover that these traits did not emerge all at once or in any one species. There were important milestones along the way. For example, early humans began walking upright before they began making tools. A rapid increase in brain size occurred before early humans began using symbols to communicate. And all of these traits emerged before humans began domesticating plants and animals.This section of our website focuses on several human characteristics that evolved over the past 6 million years. As you explore the scientific evidence for these characteristics, you will discover that these traits did not emerge all at once or in any one species. There were important milestones along the way. For example, early humans began walking upright before they began making tools. A rapid increase in brain size occurred before early humans began using symbols to communicate. And all of these traits emerged before humans began domesticating plants and animalsThis section of our website focuses on several human characteristics that evolved over the past 6 million years. As you explore the scientific evidence for these characteristics, you will discover that these traits did not emerge all at once or in any one species. There were important milestones along the way. For example, early humans began walking upright before they began making tools. A rapid increase in brain size occurred before early humans began using symbols to communicate. And all of these traits emerged before humans began domesticating plants and animalsThis section of our website focuses on several human characteristics that evolved over the past 6 million years. As you explore the scientific evidence for these characteristics, you will discover that these traits did not emerge all at once or in any one species. There were important milestones along the way. For example, early humans began walking upright before they began making tools. A rapid increase in brain size occurred before early humans began using symbols to communicate. And all of these traits emerged before humans began domesticating plants and animals</p></div></div>
</section>
  
<!-- <div class="divider"></div>
 -->   
<!-- 
<div class="divider"></div> -->
  
<section class="bg-3" id="section4">
  <!-- <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Leverage Snippets &amp; Examples</h2></div> -->
</section>
  

<!-- 
<div class="divider" id="section5"></div> -->

<!-- <div class="row">
</div> --><!--/wrap-->



<!-- <ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul> -->