<!-- Wrap all page content here -->
<div id="wrap">

<!-- Fixed navbar -->
<%= render 'partial/header' %>

<section class="bg-1">
  
  	<div class="col-sm-8 col-sm-offset-2 text-left">
		  <div style="height:600px;padding:20px;background-color:rgba(15, 21, 14, 0.93)">
				<div class ="right-div " style="width:65%;float:left;">
					<h1>Contact us</h1>

					<p>We are here to answer any questions you may have about our combadi experiences. Reach out to us and we'll respond as soon as we can.</p>

					<p>Even if there is something you have always wanted to experience and can't find it on combadi, let us know and we promise we'll do our best to find it for you and send you there</p>
					<form role="form">
					  <div class="form-group">
					    <label for="exampleInputEmail1">Name</label>
					    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Email address</label>
					    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Password">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Message</label>
					    <textarea class="form-control" rows="3"></textarea>
					  </div>
					  <button type="submit" class="btn btn-default">Send</button>
					</form>
				</div>
				<div class ="left-div" style="box-shadow: 10px 10px 5px #888888;border: 2px solid;">
					<span class ="address">
					<h3>Email</h3>
					<h6>info@combadi.com</h6>
					<h3>Telephone</h3>
					<h6>+44 20 7193 3316</h6>
					<h3>Address</h3>
					<h6>Combadi Ltd.
							1 Kings Avenue
							London
							N21 3NA
							England

							Company No. 08714000 </h6>
					</span>
				</div>
			</div>
		</div>
  
  
  	
  </div>
  
</section>
  
<!-- <div class="divider"></div>
 -->   
<!-- 
<div class="divider"></div> -->
  
<section class="bg-3" id="section4">
  <!-- <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Leverage Snippets &amp; Examples</h2></div> -->
</section>
  


  <!-- http://combadi.com/contact/ -->